html.success
  head
    title= title
    link(rel='stylesheet', href='/static/style.css')
  body.success
    h1 Let's see how this goes...
    h2 Stanley's lights just flashed, so you should be hearing from him soon!
    a(href='/') Go home